<!DOCTYPE html>
<html>
<head>
  <title>TrackChattr</title>
  <%= stylesheet_link_tag :all %>
	<script type="text/javascript" src="http://use.typekit.com/npg1zce.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag :defaults, "trackchat", "soundmanager2" %>

  <%= csrf_meta_tag %>
</head>
<body>
			<div id="header">
				<div id="header-stuff">
					<div id="welcome-container">
						<div id="login">
							<% if current_user %>
								<span class="welcome">Welcome <%= current_user.name %>!
								<%= link_to "Sign Out", signout_path, :class => "link" %></span>
							<%else%>
								<span class="welcome"></span>
							<% end %>
						</div>
					</div>
					<div id="logo">
						<h1>TrackChattr</h1>
						<h2>Music recommendations based on idle chatter!</h2>
					</div>
				</div>
			</div>

			<div id="container">
				<div class="errors">
				</div>
				<% if current_user.nil? %>
					<div class="button">
						<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "bigbutton" %>
					</div>
				<% else %>
					<%= yield %>
				<% end %>

			</div>
			<div id="about">
				<div id="createdby">Created by <a href="http://www.twitter.com/martynrdavies">@martynrdavies</a> | &copy; <a href="http://www.sixtwoproductions.co.uk">Six Two Productions</a>, Built with <a href="http://the.echonest.com">Echonest</a>, <a href="http://www.twitter.com">Twitter</a>, Ruby on Rails and jQuery</div>
				
				<div id="logos"><div id="facebook"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://trackchat.heroku.com" send="true" width="450" show_faces="false" font="segoe ui"></fb:like></div></div>
			</div>

		<script type="text/javascript">
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/wsBXyFDsgNXSIdtG2plhg.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22083673-9']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</body>
</html>
