<!DOCTYPE html>
<html>
<head>
  <title>TrackChat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "trackchat", "soundmanager2" %>
  <%= csrf_meta_tag %>
</head>
<body>
		<div id="main">
			<div id="header">
				<% if current_user %>
					<span class="welcome">Welcome <%= current_user.name %>!
					<%= link_to "Sign Out", signout_path, :class => "link" %></span>
					<%else%>
					<span class="welcome"></span>
					<% end %>
					<span>
					<h1>TrackChat</h1>
					<h2>Music recommendations based on idle chatter!</h2>
			</div>
			<div class="errors">
			</div>
			<div id="container">
				<% if current_user.nil? %>
					<div class="button">
						<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "bigbutton" %>
					</div>
				<% else %>
					<%= yield %>
				<% end %>
			</div>
		</div>
		<script type="text/javascript" src="http://use.typekit.com/npg1zce.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22083673-9']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</body>
</html>
